.header {
    background-color: white;
    padding: 20px 0;
    &__logo {
        
    }

    &__inner {
        display: flex;
        justify-content: space-between;

       
    }

    &__menu {
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #3B4EDC;
            }
        }
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin-left: 60px;
                line-height: 40px;
                &:first-child {
                    margin-left: 20px;
                }
            }
        }
    }
}