body {
    font-family: 'Be Vietnam Pro';
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 10px 48px;
}

.btn-primary {
    background-color: #3B4EDC;
    color: white;

    &:hover {
        background-color: #004D8D;
    }
}

.btn-outline-light {
    border: 2px solid #FFFFFF;
    background-color: transparent;

    &:hover {
        background-color: rgba(0,0,0, 0.1);
        color: white;
    }
}