body {
    font-family: 'Be Vietnam Pro';
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 10px 48px;
}

.btn-primary {
    background-color: #3B4EDC;
    color: white;

    &:hover {
        background-color: #004D8D;
    }
}

.btn-outline-light {
    border: 2px solid #FFFFFF;
    background-color: transparent;

    &:hover {
        background-color: rgba(0,0,0, 0.1);
        color: white;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

